{% load static %}
<style>
footer{
    margin-top: 40px;
    /* position:fixed; */
    /* top: 0; */
    bottom: 0;
    height: 240px;
    width: 100%;
    text-align: center;
    background-color: black; 
    color: white;
}
</style>
<footer>
    <img src="{% static 'images/logo_bl.jpg' %}" alt="" width="80px" height="80px" class="d-inline-block align-text-top">
    <address>126 , Andhiyari Bagh (south) , Gorakhpur</address>
    <span style="color: yellow;">RESERVATION NUMBER:</span> +0551 2336780<br>
    <span style="color: yellow;">WORKING HOURS</span><br>
    MON-FRI: 08:00AM - 10:00PM<br>
    SAT-SUN: 10:00AM - 11:00PM
</footer>